= form_for [:collection, @image], :html => { :multipart => true, :role => 'form' } do |f|
  = hidden_field(:image, :user_id, :value => current_user.id)
  .form-group
    %label{ for: "location" }
      = I18n.t('image_labels.location')
    = f.file_field :location, :style => 'width: 30%px;', class: 'form-control'
  .form-group
    %label{ for: "title" }
      = I18n.t('image_labels.title')
    = f.text_field :title, class: 'form-control'
  %button.btn.btn-success{ type: 'submit' }
    = I18n.t('image_labels.save')
